h1 {
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}
 #link1 {
    color: coral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#Button2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}